@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  p {
    font-size: 90%;
    line-height: 1.4;
  }

  // .thumbnail-box {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 100%;
  //   justify-content: space-between;
  //   padding: 10px;
  // }

  // .thumbnail-title {
  //   margin: 0;
  //   padding: 0;
  //   margin-bottom: 10px;
  // }

  // .thumbnail-description {
  //   margin: 0;
  //   padding: 0;
  // }

  // .thumbnail-image {
  //   width: 100px;
  // }
}

.thumbnail.visible {
  opacity: 1;
}
