@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 20px;
  padding: 4px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  .thumbnail-box {
    display: flex;
    width: 100%;
    padding: 0 0 10px 0;
  }

  .thumbnail-text {
    flex: 1 1 0;
    margin-right: 2em;
  }

  .thumbnail-title {
    display: inline;
  }

  .thumbnail-description {
    font-size: 0.8rem;
  }

  .thumbnail-date {
    font-size: 0.65rem;
    font-style: italic;
  }

  .thumbnail-image {
    width: 80px;
    height: 80px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .thumbnail-hr {
    background: $theme-gradient;
    border: none;
  }
}

.thumbnail.visible {
  opacity: 1;
}
